/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* General Styles */

body {
    margin: 0;
    font-family: Lora, sans-serif;

}

/* Header */

header {
    background-color: black;
    font-family: Lora, sans-serif;
    color:aliceblue;

}

/* Main content */

main {
    background-color: black;
    color:aliceblue;

}

/* footer */

footer {
    background-color: black;
    color: aliceblue;

}