/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* General Styles */

body {
    display: flex;
    
    
   

}

/* Header */

header {
    background-color: black;
    font-family: Lora, sans-serif;
    color: aliceblue;

}

/* Main content */

main {
    

}


/* footer */

footer {
    
}