/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    font-family: Lora, sans-serif;
    flex-direction: column;

}

/* Header */

header {
    display: flex;
    background-color: black;
    font-family: Lora, sans-serif;
    color: aliceblue;

}

/* Main content */

main {
    display: flex;

}

#me {}

/* footer */

footer {
    margin-top: auto;
    background-color: black;
    color: white:
    
}